div.modal.modal-form.modal--registration(id="modal-registration")
	div.modal-form__header
		span Уже есть аккаунт?
		a.modal-link(href="#modal_login") Войти

	p.modal-form__title РЕГИСТРАЦИЯ

	include ../form/form--registration.pug