div.modal.modal-form.modal--login(id="modal_login")
	p.modal-form__title ВХОД

	include ../form/form--login.pug

	div.modal-form__footer 
		span Ещё нет аккаунта?
		a.modal-link(href="#modal-registration") Регистрация