div.banner
  div.container
    div.row
      div.col-12
        img.banner__img(src="images/img-logo-body.png", alt="logo")

        p.lead Cтратегическое агентство мобильной рекламы и маркетинга полного цикла. 