div.social-icon
  ul.social-icon__list
    li.social-icon__item
      a.social-icon__item-fb(href="#")
        span.visually-hidden Facebook
    li.social-icon__item
      a.social-icon__item-ins(href="#")
        span.visually-hidden Instagram
    li.social-icon__item
      a.social-icon__item-tw(href="#")
        span.visually-hidden Twitter
  ul.social-icon__list
    li.social-icon__item
      a.social-icon__item-tm(href="#")
        span.visually-hidden Telegram
    li.social-icon__item
      a.social-icon__item-vk(href="#")
        span.visually-hidden Vk
    li.social-icon__item
      a.social-icon__item-ln(href="#")
        span.visually-hidden LinkedIn
