.input--error .input__error {
  /* 2 Block model */
  display: block;
}
.input--error .input__placeholder {
  /* 1 Positioning */
  top: -5px;
  left: 15px;
  z-index: 3;
  
  /* 2 Block model */
	padding: 0 6px;

	/* 3 Typography */
	font-size: 12px;
	line-height: 12px;
  color: #d93025;

	/* 4 Visual */
	background-color: #ffffff;
}
.input--error .input__input {
  /* 4 Visual */
	border: 2px solid #d93025;
}
.input--error  .cool-input__input_filled + .input__placeholder,
.input--error  .input__input:focus + .input__placeholder {
  
  /* 3 Typography */
  color: #d93025;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/