section.cases(id="cases")
  div.container
    div.row
      div.col-12
        +title({title: 'КЕЙСЫ'})(class="title--w-144")

        div.cases__partner
          div.cases__partner-body
            h3.h3 Delivery Club

            p.cases__text За три месяца после начала работы сервис Delivery Club достиг поставленных целей — роста заказов при снижении его стоимости 

            ul.cases__list
              li.cases__item
                span.cases__number 314%
                p.cases__item-info рост количества заказов с ремаркетинга в мобильном приложении

              li.cases__item
                span.cases__number 77%
                p.cases__item-info снижение стоимости заказа

              li.cases__item
                span.cases__number 20%
                p.cases__item-info снижение стоимости заказа по сравнению с закупкой в сетях
            
          a.cases__link(href="#" target="_blank") ПОСМОТРЕТЬ КЕЙС


      div.col-12
        div.cases__partner.cases__partner--2
          div.cases__partner-body
            h3.h3 LitRes

            p.cases__text С января по апрель из разных источников было возвращено более 16 000 iOS пользователей и более 73 000 пользователей Android. За время рекламной кампании (4 месяца) на обеих платформах возвращенные пользователи совершили более 55К покупок.

            ul.cases__list
              li.cases__item
                span.cases__number 50%
                p.cases__item-info средняя конверсия из клика в возвращенного пользователя

              li.cases__item
                span.cases__number 0,8%
                p.cases__item-info Средний CTR статических баннеров в MT 
                
              li.cases__item
                span.cases__number 20%
                p.cases__item-info Увеличение частоты покупки у возвращенного платящего пользователя

          a.cases__link(href="#" target="_blank") ПОСМОТРЕТЬ КЕЙС
              