section.manual
  div.container
    div.row.align-items-center
      div.col-12.col-md-7.order-2.order-md-1
        img.manual__img-top(src="images/img-block-item-1.jpg", alt="images")

      div.col-12.col-md-5.order-1.order-md-2
        div.manual__top
          h1 МАНУАЛ
          +title({title: 'Мобильный ретаргетинг в трекерах и источниках трафика'})(class="title--fz-26 title--text-normal ")

          ul.manual__social-list
            li.manual__social-item
              a(href="#")
                span.visually-hidden Facebook
                +icon('icon--facebook')
            li.manual__social-item
              a(href="#")
                span.visually-hidden Instagram
                +icon('icon--instagram')
            li.manual__social-item
              a(href="#")
                span.visually-hidden Vk
                +icon('icon--vk')
            li.manual__social-item
              a(href="#")
                span.visually-hidden Telegram
                +icon('icon--telegram')
            li.manual__social-item
              a(href="#")
                span.visually-hidden Twitter
                +icon('icon--twitter')
            li.manual__social-item
              a(href="#")
                span.visually-hidden Pinterest
                +icon('icon--pinterest')
          
    div.row
      div.col-12.col-md-7
        p.text.text--regular.pd-t63 Чтобы запустить ретаргетинговую кампанию не обязательно интегриро- ваться с системой аналитики мобильных приложений. Важно, чтобы SDK системы трекинга было встроено в приложение, а сама система под- держивала реатрибуцию для ретаргетинговых кампаний.

        div.manual__total
          +total({text: 'Мобильный ретаргетинг основан на&nbsp;технологии deeplink&nbsp;&mdash; пользователи попадают на&nbsp;конкретную страницу внутри приложения, кликнув по&nbsp;рекламе. А&nbsp;для таргетирования пользователей используются рекламные идентификаторы (GAID&nbsp;и&nbsp;IDFA).'})(class="total--wd-567")

        p.text.text--regular.text--underline Запустить ретаргетинг можно двумя способами:
        ul.manual__list
          li.manual__item
            p.text.text--regular 
              span Загрузить список
              |  пользователей вручную или интегрировать собственную систему аналитики с Cheetah по API для автоматического создания и обновления аудитории.
          li.manual__item
            p.text.text--regular 
              span Организовать работу 
              |  через сторонние системы ретаргетинга, например, GetLoyal. После настройки передачи событий любого трекера в систему партнера, партнер формирует аудитории в Cheetah на основании данных приложения, используя API.

        p.manual__text-title Мобильный ретаргетинг в Яндекс.Директ

        p.text.text--regular Теоретически возможен запуск ремаркетинговой кампании в Яндекс.Директ, но специального формата рекламы для ретаргетинга нет. Есть возможность таргетироваться на список пользователей, который можно загрузить, когда создаешь группы объявлений в формате рекламной кампании «Реклама мобильных приложений». Так же можно управлять аудиториями, используя специальный API. Можно использовать трекинговую ссылку со встроенным deeplink.

        p.text.text--regular Тесты показали, что трафика с таргетингом на аудиторию из Яндекс.Директа мало, интегрироваться по API нецелесообразно.

        p.manual__text-title RTB Exchange (DSP)

        p.text.text--regular Ряд DSP систем позволяет автоматизировать работу с аудиториями. В отличие от площадок описанных выше, разрешенная частота обновления всего раз в 24 часа, что позволяет вести работу. Есть возможность ручной загрузки списка пользователей.

        p.text.text--regular В тех системах, которые мы смотрели, специального формата для ретаргетинга нет. Есть возможность вставить обычную трекинговую ссылку или ссылку с deeplink (см. Adjust). В результате итоговый конверт сильно зависит от трекинговой системы. Конверсия, которая получалась у нас: 5% – 10%.

        p.manual__text-title Заключение

        p.text.text--regular Мобильный ретаргетинг — следующий шаг эволюции мобильного маркетинга. С его помощью вы можете вернуть не дошедших до покупки пользователей, предложить ранее активным что-то новое. Можете рекламировать новые фичи для пользователей старой версии приложения или увеличить частоту покупок и средний чек уже платящей аудитории.

        p.text.text--regular Мы знаем большое количество компаний, которые задумываются об использовании мобильного ретаргетинга для своих продуктов, но откладывают все «на потом» из-за сложности в настройке и оценки эффективности. Надеемся, что этот пост станет дополнительным толчком в освоении данного инструмента.

        p.text.text--regular Если же у вас остались вопросы, или вам нужна помощь с настройкой ретаргетинговых кампаний, обращайтесь к нам. Будем рады помочь! :)

      div.col-12.col-md-5
        ul.manual__blog
          li.manual__blog-item
            h3.manual__h3 ЧИТАЙТЕ ТАКЖЕ
            +blog-item-smal({img: 'blog-item-smal-img.jpg', title: 'РАБОТА С ПЛАТФОРМОЙ', desc: 'Мобильный ретаргетинг: как&nbsp;измерять эффективность', text: 'Все умеют измерять эффективность рекламных кампаний по закупке трафика, с мобильным ретаргетингом дела пока обстоят похуже. Расскажем как измерить эффективность ретаргетинговых кампаний на простых примерах.'})

          li.manual__blog-item
            +blog-item-smal({img: 'blog-item-smal-img.jpg', title: 'РАБОТА С ПЛАТФОРМОЙ', desc: 'Мобильный ретаргетинг: как&nbsp;измерять эффективность', text: 'Все умеют измерять эффективность рекламных кампаний по закупке трафика, с мобильным ретаргетингом дела пока обстоят похуже. Расскажем как измерить эффективность ретаргетинговых кампаний на простых примерах.'})

          li.manual__blog-item
            +blog-item-smal({img: 'blog-item-smal-img.jpg', title: 'РАБОТА С ПЛАТФОРМОЙ', desc: 'Мобильный ретаргетинг: как&nbsp;измерять эффективность', text: 'Все умеют измерять эффективность рекламных кампаний по закупке трафика, с мобильным ретаргетингом дела пока обстоят похуже. Расскажем как измерить эффективность ретаргетинговых кампаний на простых примерах.'})