section.system(id="about")
  div.container
    div.row
      div.col-12.col-md-6
        img.system__img(src="images/img-system.jpg", alt="development system")

      div.col-12.col-md-6
        div.system__info
          +title({title: 'О СИСТЕМЕ'})

          p.text Mobile Data Management Platform
            br
            |от ZEN MOBILE AGENCY 
          p.text Централизованная платформа, которая собирает, организует и сегментирует данные об аудитории мобильных приложений и устройств и выгружает консолидированные аудитории в рекламные кабинеты.