section.task
  div.container
    div.row
      div.col-12
        div.task__top
          +title({title: 'ЗАДАЧА'})(class="title--bold title--mb-50")

          p.text.text--center.text--regular Сервис доставки готовой еды Delivery Club поставил перед нами задачу по увеличению количества заказов на одного пользователя и снижению стоимости ремаркетинга. За три месяца, используя собственную платформу мобильного маркетинга OHM SmallData и инструменты DoubleClick агентству удалось выполнить поставленные задачи.

        div.task__done 
          +title({title: 'ЧТО СДЕЛАЛИ'})(class="title--bold")

          p.text.text--center.text--regular Выявили целевые аудитории пользователей и спланировали стратегии по их возвращению в приложение:

        ul.task__list
          li.task__item 
            div.task__item-number 
              span 1
            div.task__item-info
              p.task__item-title Положили товар в корзину, но не заказали
              p.task__item-text Вернуть в корзину для продолжения оформления заказа

          li.task__item
            div.task__item-number 
              span 2
            div.task__item-info
              p.task__item-title Сделали только один заказ
              p.task__item-text Увеличить частоту заказов с помощью разных подходов оптимизации

          li.task__item
            div.task__item-number 
              span 3
            div.task__item-info
              p.task__item-title Не сделали ни одного заказа
              p.task__item-text Замотивировать на первый заказ, показывая актуальные предложения и скидки

          li.task__item
            div.task__item-number 
              span 4
            div.task__item-info
              p.task__item-title Раньше заказывали, а потом перестали
              p.task__item-text Побудить заказать вновь и привить привычку разными подходами

          li.task__item
            div.task__item-number 
              span 5
            div.task__item-info
              p.task__item-title Заказывают постоянно
              p.task__item-text Увеличить частоту заказов, напоминая о возможностях, и сформировать привычку

        div.task__total
          +total({text: 'Для сервисов постоянного спроса, таких как приложения заказа готовой еды, работа с существующей клиентской базой — один из наиболее эффективных способов роста продаж и дохода. Мобильный ремаркетинг позволяет вернуть «заснувшую» аудиторию, увеличить количество заказов на пользователя и делать это эффективно с точки зрения возврата маркетинговых инвестиций.'})
        
        div.task__desc 
          p.text Рост объёмов после обучения рекламной платформы

          p.text.text--regular После стабилизации показателя стоимости заказа и подбора ставок по аудиториям было решено увеличить охват и, соответственно, количество показов за счет непрозрачного инвентаря, на который сейчас приходится более половины всех показов в DBM, а также поднять ограничение в показах на одного пользователя. В случае с доставкой еды это имеет смысл, потому что потребность возникает достаточно регулярно.

          p.text.text--regular Вместе с отключением ограничений специалисты OHM Solutions провели плавное увеличение ставок, чтобы охватить более качественные сегменты и вырастить показы. Так как эти действия производились на уже обученной системе, DBM продолжила выкупать наиболее качественную и конверсионную аудиторию, похожую на ядро пользователей, уже без ограничений по площадкам.

        div.task__feature
          p.text.text--regular Mobile Data Management Platform с помощью математической модели автоматически находит сегмент клиентов, приносящих максимальное количество денег. Устройство функции напоминает ту, которая описывает расслоение по доходам в обществе. Ядро ежедневно обновляется и автоматически загружается в рекламные системы, где на него можно настраивать ремаркетинг или искать похожую аудиторию (исключая всех текущих пользователей), если нужно расширить клиентскую базу.

  div.task__results
    div.container
      div.row
        div.col-12
          +title({title: 'РЕЗУЛЬТАТЫ'})(class="title--bold title--mb-51")

          p.text.text--regular За три месяца после начала работы сервис Delivery Club достиг поставленных целей — роста заказов при снижении его стоимости.

      ul.row.task__results-list
        li.col-12.col-md-4
          div.task__results-item
            span 314%
            p рост количества заказов с ремаркетинга в мобильном приложении

        li.col-12.col-md-4
          div.task__results-item
            span 77%
            p снижение стоимости заказа

        li.col-12.col-md-4
          div.task__results-item
            span 20%
            p снижение стоимости заказа по сравнению с закупкой в сетях

  div.container
      div.row
        div.col-12
          p.text Если у вас остались вопросы, или вам нужна помощь с настройкой ретаргетинговых кампаний, 
            a.link(href="") обращайтесь к нам
            |. 
            br
            |Будем рады помочь! :) 
