div.cookies
  div.container
    div.row
      div.col-12
        div.cookies__body
          p.cookies__text Мы используем файлы cookie, чтобы собирать данные о трафике, анализировать их, подбирать для вас подходящий контент и рекламу, а также дать вам возможность делиться информацией в социальных сетях.
          a.cookies__link(href="#") OK
