section.blog(id="blog")
  div.container
    div.row
      div.col-12
        +title({title: 'БЛОГ'})(class="title--mb-68")

    div.row
      div.col-12.col-md-6
        +blog-item({img: 'img-block-item-1.jpg', alt: 'images', desc: 'МАНУАЛ', title: 'Мобильный ретаргетинг в трекерах и источниках трафика', text: 'В этой статье мы расскажем об особенностях настройки ретаргетинговых кампаний в системах мобильной аналитики: AppsFlyer, Adjust, MAT и источниках трафика: Facebook, myTarget, Cheetah, Yandex и RTB Exchange (DSP).'})

      div.col-12.col-md-6
        +blog-item({img: 'img-block-item-2.jpg', alt: 'images', desc: 'РАБОТА С ПЛАТФОРМОЙ', title: 'Мобильный ретаргетинг: как измерять эффективность ', text: 'Все умеют измерять эффективность рекламных кампаний по закупке трафика, с мобильным ретаргетингом дела пока обстоят похуже. Расскажем как измерить эффективность ретаргетинговых кампаний на простых примерах.'})
        