.blog {
  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 20px;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    padding-top: 30px;
  }
  @media(min-width: 1200px) {
    /* 2 Block model */
    padding-top: 34px;
  }
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */
  // @media(min-width: 768px) {

  // }
  // @media(min-width: 992px) {
    
  // }
  // @media(min-width: 1200px) {
    
  // }