include btn/btn.pug
include icon/icon.pug
include title/title.pug
include input/input.pug
include technologes/technologes.pug
include blog-item/blog-item.pug
include textarea/textarea.pug
include checkbox/checkbox.pug 
include select/select.pug
include total/total.pug
include blog-item-smal/blog-item-smal.pug 
include footer/footer.pug 