nav.menu
	ul.menu__list
		li.menu__item
			a.menu__link(href="#about") О системе

		li.menu__item
			a.menu__link(href="#cases") Кейсы

		li.menu__item
			a.menu__link(href="#blog") Блог

		li.menu__item
			a.menu__link(href="#contacts") Контакты