.icon-text {
  /* 1 Positioning */

  /* 3 Typography */
  font-family: $font-four;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #5c5c5c;
  text-decoration: none;

  /* 4 Visual */

  /* 5 Animation*/
  transition: all 0.4s;
}