.technology {
  @media(min-width: 768px) {
    /* 2 Block model */
    padding-top: 150px;
  }
  @media(min-width: 992px) {
    /* 2 Block model */
    padding-top: 170px;
  }
  @media(min-width: 1200px) {
    /* 2 Block model */
    padding-top: 230px;
  }
}
.technology .row {
  /* 1 Positioning */
  position: relative;
}
.row-bg::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;

  /* 2 Block model */
  display: block;
  width: 2px;

  /* 4 Visual */
  background-image: url(../images/before-technology.png);
  background-repeat: repeat-y;
  content: '';

  @media(min-width: 768px) {
    /* 1 Positioning */
    right: 50%;
  }
}
.row-bg::after {
  /* 1 Positioning */
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 2;

  /* 2 Block model */
  display: block;
  width: 10px;
  height: 68px;

  /* 4 Visual */
  background-image: url(../images/after--technology.png);
  content: '';
  transform: translate(50%, -50%);

  @media(min-width: 768px) {
    /* 1 Positioning */
    right: 50%;
  }
}
.technology__left,
.technology__right {
  /* 2 Block model */
  padding-left: 43px;
  padding-right: 46px;
}
.technology__left .technologes {
  /* 3 Typography */
  text-align: right;
}
.technology__left .technology__img {
  @media(min-width: 768px) {
    /* 2 Block model */
    margin-left: auto;
  }
}
.technology__left {
   /* 1 Positioning */
   position: relative;
}
.technology__img {
  /* 2 Block model */
  width: 100%;
  max-width: 266px;
  display: flex;
  height: 266px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  /* 4 Visual */
  background-image: url(../images/bg-technology.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media(min-width: 768px) {
    /* 2 Block model */
    margin: 0;
  }
}
.technology__img img {
  /* 2 Block model */
  display: block;
  width: 100%;
  max-width: 164px;
  height: auto;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */