section.technology
  div.container
    div.row
      div.col-12
        +title({title: 'ТЕХНОЛОГИИ'})(class="title--w-144")

        p.text.text--center.mr-b-43 Среди наших услуг: закупка и оптимизация мобильного трафика, продвижение мобильных сайтов и приложений, аудит мобильных продуктов, разработка стратегий для продвижения мобильных продуктов любой сложности.

    div.row.align-items-center.row-bg
      div.col-12.col-md-6
        div.technology__left
          +technologes({
            number: '1.',
            title: 'СТРАТЕГИЯ И ТАКТИКА',
            items: [
              'Разработка стратегии для продвижений любых мобильных продуктов: мобильного сайта, приложения, e-commerce приложения, стримов и подкастов',
              'KPI\'s продвижения',
              'Создание тактической схемы продвижения',
              'Медиапланирование'
            ]
          })
      div.col-12.col-md-6
        div.technology__right
          div.technology__img
            img(src="images/img-technology-1.png", alt="strategy and tactics")



    div.row.align-items-center.row-bg
      div.col-12.col-md-6.order-2.order-md-1
        div.technology__left
          div.technology__img
            img(src="images/img-technology-2.png", alt="traffic purchase")
      div.col-12.col-md-6.order-1.order-md-2
        div.technology__right
          +technologes({
            number: '2.',
            title: 'ЗАКУПКА ТРАФИКА',
            items: [
              'Основные площадки (Facebook, Instagram, Google, Yandex,  Twitter, MyTarget)',
              'Самозакупка в CPI-сетях (Appnext, Applovin, DBM, другие)',
              'Медийная закупка в CPI-сетях (Minimob, InMobi и многие другие)',
              'Закупка в мессенджерах (Viber, WhatsApp, Tik-Tok, Telegram)',
              'Закупка размещений блогеров (YouTube, Instagram)',
              'Реактивация и ремаркетинг в мобайле'
            ]
          })

    div.row.align-items-center.row-bg
      div.col-12.col-md-6
        div.technology__left
          +technologes({
              number: '3.',
              title: 'ASO (APP STORE OPTIMIZATION)',
              items: [
                'Текстовое, визуальное ASO',
                'Закупка мотивированных инсталлов для продвижения в ТОП по категории и по ключевым словам',
                'Работа с отзывами и рейтингами'
              ]
            })
      div.col-12.col-md-6
        div.technology__right
          div.technology__img
            img(src="images/img-technology-3.png", alt="aso app store optimization")

    div.row.align-items-center.row-bg
      div.col-12.col-md-6.order-2.order-md-1
        div.technology__left
          div.technology__img
            img(src="images/img-technology-4.png", alt="research")
      div.col-12.col-md-6.order-1.order-md-2
        div.technology__right
          +technologes({
            number: '4.',
            title: 'ИССЛЕДОВАНИЯ <br>ПО ВСЕМ НАПРАВЛЕНИЯМ МОБАЙЛА',
            items: [
              'Appannie (работа в сторах)',
              'Конкурентный анализ',
              'Анализ рынка России и других стран',
              'Анализ Целевых Аудиторий'
            ]
          })

    div.row.align-items-center.row-bg
      div.col-12.col-md-6
        div.technology__left
          +technologes({
              number: '5.',
              title: 'РАБОТА С АНАЛИТИКОЙ ДЛЯ МОБИЛЬНЫХ ПРИЛОЖЕНИЙ',
              items: [
                'Аудит настроек текущих систем и интеграция новых',
                'Подбор системы мобильной аналитики для мобильных приложений',
                'Интеграция системы мобильной аналитики',
                'Разработка карты событий'
              ]
            })
      div.col-12.col-md-6
        div.technology__right
          div.technology__img
            img(src="images/img-technology-5.png", alt="analytics")