header.header
	div.header__top 
		div.header__indicator

	div.container
		div.row.align-items-center
			div.col-12
				div.header__body
					div.header__logo
						include ../logo/logo.pug 

					div.header__menu.header__mobile
						include ../menu/menu.pug

					div.header__body-right
						div.header__action
							+btn({text: 'СВЯЗАТЬСЯ С НАМИ'})(class="btn--no-border")

						div.header__user
							div.header__social
								span.visually-hidden feecbook 
								a(href="#")
									+icon('icon--facebook')

							a.header__login.modal-link(href="#modal_login") ВОЙТИ

							div.header__languages
								a.header__languages-link(href="#") EN
								span |
								a.header__languages-link.header__languages-link-active(href="#") RU

						button.header__btn(type="button")
							span.visually-hidden Открыть меню
							span.header__btn-visual