.to-top {
  /* 1 Positioning */
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;

  /* 2 Block model */
  display: none;
  width: 53px;
  height: 53px;
  
  /* 4 Visual */
  background-color: #ffffff;
  border: 2px solid $color-red;

  /* 5 Animation*/
	transition: all 0.4s;

  @media(min-width: 768px) {
    /* 1 Positioning */
    bottom: 80px;
  }
  @media(min-width: 992px) {
    /* 1 Positioning */
    bottom: 114px;
  }
  @media(min-width: 1400px) {
    /* 1 Positioning */
    right: 86px;
  }
  @media(min-width: 1600px) {
    /* 1 Positioning */
    right: 208px;
  }
}
.to-top .icon {
  position: absolute;
  top: 50%;
  left: 50%;

  /* 2 Block model */
  width: 15px;
  height: 15px;

  /* 4 Visual */
  fill: $color-red;
  transform: translate(-50%, -50%);
}
.to-top:hover {
  /* 4 Visual */
  cursor: pointer;
  background-color: $color-red;
}
.to-top:hover .icon {
  /* 4 Visual */
  fill: #ffffff;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */